@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");


/* body {
  min-height: 100vh;
  background-color: #000;
  height: 100vh;
} */
.goal-typescript main {
  font-family: "Poppins", sans-serif;
  width: 90%;
  max-width: 40rem;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #134758;
  color: #f0f6f8;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  position: relative;
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.goal-typescript main::after,
.goal-typescript main::before {
  content: "";
  height: 100%;
  width: 100%;

  background-image: conic-gradient(
    from var(--angle),
    blue,
    rgb(255, 7, 201),
    red,
    rgb(11, 216, 11)
  );
  top: 50%;
  left: 50%;
  position: absolute;
  translate: -50% -50%;
  z-index: -1;
  padding: 15px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}
.goal-typescript main::before {
  filter: blur(1.5rem);
  /* opacity: 0.9; */
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
.goal-typescript header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.goal-typescript img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.goal-typescript header h1 {
  margin: 0;
  font-size: 1.75rem;
  color: #f7e596;
}

.goal-typescript label {
  display: block;
  font-size: 0.85rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #dfd9be;
}

.goal-typescript input {
  font: inherit;
  width: 100%;
  padding: 0.5rem;
  background-color: #b4b6c4;
  border: none;
  border-radius: 4px;
}

.goal-typescript form button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  background-color: #f7e596;
  border: none;
  border-radius: 4px;
  font: inherit;
  font-weight: bold;
  color: #3a4346;
  cursor: pointer;
}

.goal-typescript form button:hover {
  background-color: #f9e175;
}

.goal-typescript ul {
  list-style: none;

  margin-top: 20px;
  padding: 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.goal-typescript li {
  background-color: #475357;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.goal-typescript li article {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.goal-typescript li h2 {
  margin: 0;
  font-size: 1.25rem;
  color: #b1c1c3;
}

.goal-typescript li p {
  margin: 0;
  font-size: 0.85rem;
  color: #dfd9be;
}

.goal-typescript li button {
  font: inherit;
  padding: 0 0.5rem;
  background: transparent;
  border: none;
  color: #909a9a;
  cursor: pointer;
}

.goal-typescript li button:hover {
  color: #f9a73b;
}

.goal-typescript .infobox {
  margin: 2rem 0;
  padding: 0.5rem;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  font-size: 0.85rem;
  border-radius: 4px;
}

.goal-typescript .infobox-hint {
  border: 1px solid #96f5f7;
  color: #96f5f7;
}

.goal-typescript .infobox-warning.warning--low {
  border: 1px solid #f6d84f;
  color: #f6d84f;
}

.goal-typescript .infobox-warning.warning--medium {
  border: 1px solid #f9a73b;
  color: #f9a73b;
}

.goal-typescript .infobox-warning.warning--high {
  border: 1px solid #f97373;
  color: #f97373;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.goal-typescript .btn {
  padding: 15px 40px;
  border: none;
  outline: none;

  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
}
.goal-typescript .btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* glow */
.goal-typescript .btn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* hover */
.goal-typescript .btn:hover::before {
  opacity: 1;
}

.goal-typescript .btn:active:after {
  background: transparent;
}

.goal-typescript .btn:active {
  color: #000;
  font-weight: bold;
}
